@import '~bootstrap/scss/bootstrap';

.content{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    *{
        width: 100%;
    }
}

.body{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    > *{
        width: 80%;
    }
}

.student{
    display: flex;
    flex-flow: row wrap;
    padding: 13px 0px;
    .radio {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        input[type="radio"] {
            display: none;
        }
        label {
        display: block;
        width: 150px;
        height: 25px;
        border: 1px solid black;
        color: black;
        border-radius: 20px;
        cursor: pointer;
        text-align: center;
        align-items: center;
        background-color: rgb(156, 172, 156);
        }

        input[type="radio"].aanwezig:checked ~ label.anwezig {
        background-color: lime;
        }
        input[type="radio"].afwezig:checked ~ label.aafwezig {
        background-color: red;
        }
    }
}
.roster{
    cursor: pointer;
}
.send{
    text-align: center;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background-color: blue;
    justify-self: center;
    cursor: pointer;
}
form{
    display: grid;
}

